<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增杂志')" />
    <th:block th:include="include :: summernote-css" />
    <style>
        .note-modal {
            z-index: 1051 !important;
        }
        .note-modal-backdrop {
            z-index: 1050 !important;
        }
    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-magazine-add">
            <input type="hidden" id="magazineContentInput" name="magazineContent">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">杂志名称：</label>
                <div class="col-sm-8">
                    <input name="magazineTitle" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">封面地址：</label>
                <div class="col-sm-8">
                    <input name="magazineCover" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">期号：</label>
                <div class="col-sm-8">
                    <input name="magazineIssue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年份：</label>
                <div class="col-sm-8">
                    <input name="publishYear" class="form-control" type="number" placeholder="例如 2026">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出版日期：</label>
                <div class="col-sm-8">
                    <input name="publishDate" class="form-control" type="date">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">PDF链接：</label>
                <div class="col-sm-8">
                    <input name="magazinePdf" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">H5阅读链接：</label>
                <div class="col-sm-8">
                    <input name="h5Url" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">简介：</label>
                <div class="col-sm-8">
                    <textarea name="introduction" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">内容详情：</label>
                <div class="col-sm-8">
                    <div class="summernote" id="summernoteInstance"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" id="status0" name="status" value="0" checked>
                        <label for="status0">正常</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="status1" name="status" value="1">
                        <label for="status1">停用</label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "admin/portal/magazine";

        // 修复在 layer 弹层内使用 summernote 时，链接/图片/视频弹窗被遮罩和焦点劫持的问题
        if ($.fn.modal && $.fn.modal.Constructor) {
            $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        }
        
        $(function() {
            $('.summernote').summernote({
                placeholder: '请输入内容',
                height: 250,
                lang: 'zh-CN',
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0], this);
                    }
                }
            });
        });

        function sendFile(file, obj) {
            var data = new FormData();
            data.append("file", file);
            data.append("type", "image");
            $.ajax({
                type: "POST",
                url: ctx + "common/upload",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $(obj).summernote('editor.insertImage', result.url, result.fileName);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                },
                error: function() {
                    $.modal.alertError("图片上传失败");
                }
            });
        }

        $("#form-magazine-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var sHTML = $('.summernote').summernote('code');
                $("#magazineContentInput").val(sHTML);
                var formData = new FormData(document.getElementById("form-magazine-add"));
                $.ajax({
                    url: prefix + "/add",
                    type: "post",
                    dataType: "json",
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr, settings) {
                        var csrftoken = $('meta[name=csrf-token]').attr('content');
                        if ($.common.equalsIgnoreCase(settings.type, "POST")) {
                            xhr.setRequestHeader("X-CSRF-Token", csrftoken);
                        }
                        $.modal.loading("正在处理中，请稍候...");
                        $.modal.disable();
                    },
                    success: function(result) {
                        $.operate.successCallback(result);
                    },
                    error: function() {
                        $.modal.closeLoading();
                        $.modal.alertError("提交失败，请重试");
                    }
                });
            }
        }
    </script>
</body>
</html>
