<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('杂志管理')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="form-magazine-search">
                    <div class="select-list">
                        <ul>
                            <li>
                                杂志名称：<input type="text" name="magazineTitle"/>
                            </li>
                            <li>
                                年份：<input type="number" name="publishYear" style="width:120px;"/>
                            </li>
                            <li>
                                状态：<select name="status">
                                    <option value="">所有</option>
                                    <option value="0">正常</option>
                                    <option value="1">停用</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="portal:magazine:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="portal:magazine:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="portal:magazine:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('portal:magazine:edit')}]];
        var removeFlag = [[${@permission.hasPermi('portal:magazine:remove')}]];
        var prefix = ctx + "admin/portal/magazine";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "杂志",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'magazineId',
                    title: '杂志ID'
                },
                {
                    field: 'magazineTitle',
                    title: '杂志名称'
                },
                {
                    field: 'magazineIssue',
                    title: '期号'
                },
                {
                    field: 'publishYear',
                    title: '年份'
                },
                {
                    field: 'h5Url',
                    title: 'H5阅读',
                    formatter: function(value) {
                        if (!value) {
                            return '-';
                        }
                        return '<a href="' + value + '" target="_blank">打开</a>';
                    }
                },
                {
                    field: 'magazineCover',
                    title: '封面',
                    formatter: function(value, row, index) {
                        return $.table.imageView(value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return value === '0' ? '<span class="label label-success">正常</span>' : '<span class="label label-danger">停用</span>';
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.magazineId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.magazineId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
