<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改杂志')" />
    <th:block th:include="include :: summernote-css" />
    <style>
        .note-modal {
            z-index: 1051 !important;
        }
        .note-modal-backdrop {
            z-index: 1050 !important;
        }
    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-magazine-edit" th:object="${magazine}">
            <input name="magazineId" th:field="*{magazineId}" type="hidden">
            <input type="hidden" id="magazineContentInput" name="magazineContent" th:field="*{magazineContent}">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">杂志名称：</label>
                <div class="col-sm-8">
                    <input name="magazineTitle" th:field="*{magazineTitle}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">封面地址：</label>
                <div class="col-sm-8">
                    <input name="magazineCover" th:field="*{magazineCover}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">期号：</label>
                <div class="col-sm-8">
                    <input name="magazineIssue" th:field="*{magazineIssue}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年份：</label>
                <div class="col-sm-8">
                    <input name="publishYear" th:field="*{publishYear}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出版日期：</label>
                <div class="col-sm-8">
                    <input name="publishDate" th:field="*{publishDate}" class="form-control" type="date">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">PDF链接：</label>
                <div class="col-sm-8">
                    <input name="magazinePdf" th:field="*{magazinePdf}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">H5阅读链接：</label>
                <div class="col-sm-8">
                    <input name="h5Url" th:field="*{h5Url}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">简介：</label>
                <div class="col-sm-8">
                    <textarea name="introduction" th:field="*{introduction}" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">内容详情：</label>
                <div class="col-sm-8">
                    <div class="summernote" id="summernoteInstance"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                        <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" th:field="*{remark}" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "admin/portal/magazine";

        // 修复在 layer 弹层内使用 summernote 时，链接/图片/视频弹窗被遮罩和焦点劫持的问题
        if ($.fn.modal && $.fn.modal.Constructor) {
            $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        }

        $(function() {
            $('.summernote').summernote({
                placeholder: '请输入内容',
                height: 200,
                lang: 'zh-CN',
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0], this);
                    }
                }
            });
            var content = $("#magazineContentInput").val();
            $('.summernote').summernote('code', content);
        });

        function sendFile(file, obj) {
            var data = new FormData();
            data.append("file", file);
            data.append("type", "image");
            $.ajax({
                type: "POST",
                url: ctx + "common/upload",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $(obj).summernote('editor.insertImage', result.url, result.fileName);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                },
                error: function() {
                    $.modal.alertError("图片上传失败");
                }
            });
        }

        $("#form-magazine-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var sHTML = $('.summernote').summernote('code');
                if (sHTML && sHTML.indexOf("data:image/") !== -1) {
                    $.modal.alertError("检测到Base64图片，请先用上传按钮上传图片再提交");
                    return;
                }
                $("#magazineContentInput").val(sHTML);
                $.operate.save(prefix + "/edit", $('#form-magazine-edit').serialize());
            }
        }
    </script>
</body>
</html>
