<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('会员管理')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="form-member-search">
                    <div class="select-list">
                        <ul>
                            <li>
                                会员姓名：<input type="text" name="memberName"/>
                            </li>
                            <li>
                                会员类型：<select name="memberType">
                                    <option value="">所有</option>
                                    <option value="0">普通会员</option>
                                    <option value="1">金卡会员</option>
                                </select>
                            </li>
                            <li>
                                状态：<select name="status">
                                    <option value="">所有</option>
                                    <option value="0">正常</option>
                                    <option value="1">停用</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            
            <div class="btn-group-sm" id="toolbar" role="group">
                <!-- 移除了新增和修改按钮，仅保留删除功能（如果需要的话，或者可以全部移除） -->
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="portal:member:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('portal:member:remove')}]];
        var prefix = ctx + "admin/portal/member";

        $(function() {
            var options = {
                url: prefix + "/list",
                removeUrl: prefix + "/remove",
                modalName: "会员",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'memberId',
                    title: '会员ID'
                },
                {
                    field: 'memberName',
                    title: '会员姓名'
                },
                {
                    field: 'memberType',
                    title: '会员类型',
                    formatter: function(value, row, index) {
                        return value === '0' ? '普通会员' : '金卡会员';
                    }
                },
                {
                    field: 'phone',
                    title: '联系电话'
                },
                {
                    field: 'email',
                    title: '邮箱'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return value === '0' ? '<span class="label label-success">正常</span>' : '<span class="label label-danger">停用</span>';
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // 仅保留删除操作
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.memberId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>