<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('教师管理')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="form-teacher-search">
                <div class="select-list">
                    <ul>
                        <li>
                            教师姓名：<input type="text" name="teacherName"/>
                        </li>
                        <li>
                            所属学校：<select name="schoolId">
                            <option value="">所有</option>
                            <option th:each="school : ${schools}" th:value="${school.schoolId}" th:text="${school.schoolName}"></option>
                        </select>
                        </li>
                        <li>
                            状态：<select name="status">
                            <option value="">所有</option>
                            <option value="0">正常</option>
                            <option value="1">停用</option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="portal:teacher:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="portal:teacher:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="portal:teacher:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('portal:teacher:edit')}]];
    var removeFlag = [[${@permission.hasPermi('portal:teacher:remove')}]];
    var prefix = ctx + "admin/portal/teacher";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "教师",
            columns: [{
                checkbox: true
            },
            {
                field: 'teacherId',
                title: 'ID'
            },
            {
                field: 'teacherName',
                title: '姓名'
            },
            {
                field: 'title',
                title: '职称/头衔'
            },
            {
                field: 'expertise',
                title: '擅长领域'
            },
            {
                field: 'status',
                title: '状态',
                formatter: function(value) {
                    return value === '0' ? '<span class="label label-success">正常</span>' : '<span class="label label-danger">停用</span>';
                }
            },
            {
                title: '操作',
                align: 'center',
                formatter: function(value, row) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.teacherId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.teacherId + '\')"><i class="fa fa-remove"></i>删除</a>');
                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>
