<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.portal.mapper.PortalTeacherMapper">

    <resultMap id="PortalTeacherResult" type="com.ruoyi.portal.domain.PortalTeacher">
        <id property="teacherId" column="teacher_id"/>
        <result property="schoolId" column="school_id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="photo" column="photo"/>
        <result property="title" column="title"/>
        <result property="expertise" column="expertise"/>
        <result property="bio" column="bio"/>
        <result property="status" column="status"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updaterId" column="updater_id"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPortalTeacherVo">
        select t.teacher_id, t.school_id, t.teacher_name, t.photo, t.title, t.expertise, t.bio, t.status,
               t.creator_id, t.create_by, t.create_time, t.updater_id, t.update_by, t.update_time, t.remark
        from portal_teacher t
        left join portal_school s on t.school_id = s.school_id
    </sql>

    <select id="selectPortalTeacherById" parameterType="Long" resultMap="PortalTeacherResult">
        <include refid="selectPortalTeacherVo"/>
        where t.teacher_id = #{teacherId}
    </select>

    <select id="selectPortalTeacherList" parameterType="com.ruoyi.portal.domain.PortalTeacher" resultMap="PortalTeacherResult">
        <include refid="selectPortalTeacherVo"/>
        <where>
            <if test="schoolId != null">
                and t.school_id = #{schoolId}
            </if>
            <if test="teacherName != null and teacherName != ''">
                and t.teacher_name like concat('%', #{teacherName}, '%')
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            ${params.dataScope}
        </where>
        order by t.teacher_id desc
    </select>

    <select id="selectPortalTeacherBySchoolId" parameterType="Long" resultMap="PortalTeacherResult">
        <include refid="selectPortalTeacherVo"/>
        where t.school_id = #{schoolId}
        order by t.teacher_id desc
    </select>

    <insert id="insertPortalTeacher" parameterType="com.ruoyi.portal.domain.PortalTeacher" useGeneratedKeys="true" keyProperty="teacherId">
        insert into portal_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">school_id,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="photo != null">photo,</if>
            <if test="title != null">title,</if>
            <if test="expertise != null">expertise,</if>
            <if test="bio != null">bio,</if>
            <if test="status != null">status,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updaterId != null">updater_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">#{schoolId},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="photo != null">#{photo},</if>
            <if test="title != null">#{title},</if>
            <if test="expertise != null">#{expertise},</if>
            <if test="bio != null">#{bio},</if>
            <if test="status != null">#{status},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updaterId != null">#{updaterId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePortalTeacher" parameterType="com.ruoyi.portal.domain.PortalTeacher">
        update portal_teacher
        <set>
            <if test="schoolId != null">school_id = #{schoolId},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="title != null">title = #{title},</if>
            <if test="expertise != null">expertise = #{expertise},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updaterId != null">updater_id = #{updaterId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where teacher_id = #{teacherId}
    </update>

    <delete id="deletePortalTeacherById" parameterType="Long">
        delete from portal_teacher where teacher_id = #{teacherId}
    </delete>

    <delete id="deletePortalTeacherByIds" parameterType="Long[]">
        delete from portal_teacher where teacher_id in
        <foreach item="teacherId" collection="array" open="(" separator="," close=")">
            #{teacherId}
        </foreach>
    </delete>

</mapper>
